#main-cart-container{
    background: url('../../../asset/fond-img.jpg') repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cart-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cart-card{
    width: 70%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#cart-card img{
    height: auto;
    width: 100px;
}

#cart-card button{
    background-color: white;
    border: 1px solid black;
    margin-bottom: 5px;
    outline: none;
    cursor: pointer;
}

.cart-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cart-btn button{
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 5px;
    outline: none;
    cursor: pointer;
}


#product-name{
    font-size: 11px;
}

