.products-container-2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: url('../../../asset/fond-img.jpg') repeat;
}

#category-for-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../../asset/fond-img.jpg') repeat;
}

#category-for-img img{
    border: 2px dotted black;
}