.main-container-commands{
    background: url('../../../asset/fond-img.jpg') repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title-commands{
    font-family: 'Amatic SC', cursive;
    font-size: 3em;
}

.command-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    width: 300px;
    margin-top: 10px;
}