.products-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: url('../../../asset/fond-img.jpg') repeat;
}

.products-cards{
    font-family: 'Amatic SC', cursive;
    border: 1px solid black;
    display: flex;
    flex: 0 0 23.333333%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    padding: 0px 10px 15px;
    margin-bottom: 1%;
    box-shadow: 0px 0px 10px #999;
    background-color: white;
    font-size: 25px;
}

.products-cards img {
    height: auto;
    width: 45%;
}

.products-cards img:hover {
    height: auto;
    width: 50%;
    transition: 0.6s;
}

.products-cards:hover span{
    color: rgb(63, 63, 202);
}

.btn-view-more{
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
    outline:none;
}

.btn-view-more:hover{
color: white;
background-color: rgb(63, 63, 202);
transition: 0.6s;
border: 1px solid rgb(63, 63, 202);
font-size: 14px;
}

.wapper-txt{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.txt-main{
    font-family: 'Amatic SC', cursive;
}

.txt-main2{
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
}

.home-txt{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 3px dotted white;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 10px #999;
    font-size: 1.5em;
}

@media screen and (max-width: 1200px) {

    .products-cards{
        flex: 0 0 23.333333%;
        font-size: 1em;
    }

    .txt-main{
        font-family: 'Amatic SC', cursive;
        font-size: 1em;
    }

  }


@media screen and (max-width: 640px) {

    .products-cards{
        flex: 0 0 53.333333%;
        font-size: 0.8em;
    }

    .txt-main{
        font-family: 'Amatic SC', cursive;
        font-size: 0.8em;
    }

  }